.ptop-0 {
  padding-top: 0;
}

.ptop-1 {
  padding-top: 0.3rem;
}

.ptop-2 {
  padding-top: 0.6rem;
}

.pleft-0 {
  padding-left: 0;
}

.pleft-1 {
  padding-left: 0.3rem;
}

.pleft-2 {
  padding-left: 0.6rem;
}

.pright-0 {
  padding-right: 0;
}

.pright-1 {
  padding-right: 0.3rem;
}

.pright-2 {
  padding-right: 0.6rem;
}

.pv-1 {
  padding: 0.3rem 0;
}

.pv-2 {
  padding: 0.6rem 0;
}

.pv-3 {
  padding: 1.2rem 0;
}

.ph-1 {
  padding: 0 0.3rem;
}

.ph-2 {
  padding: 0 0.6rem;
}

.ph-3 {
  padding: 0 1.2rem;
}

.ph-4 {
  padding: 0 2.4rem;
}

.pd-0 {
  padding: 0;
}

.pd-1 {
  padding: 0.3rem;
}

.pd-2 {
  padding: 0.6rem;
}

.pd-3 {
  padding: 1.2rem;
}

.mtop-0 {
  margin-top: 0;
}

.mtop-1 {
  margin-top: 0.3rem;
}

.mtop-2 {
  margin-top: 0.6rem;
}

.mleft-0 {
  margin-left: 0;
}

.mleft-1 {
  margin-left: 0.3rem;
}

.mleft-2 {
  margin-left: 0.6rem;
}

.mright-0 {
  margin-right: 0;
}

.mright-1 {
  margin-right: 0.3rem;
}

.mright-2 {
  margin-right: 0.6rem;
}

.mv-1 {
  margin: 0.3rem 0;
}

.mv-2 {
  margin: 0.6rem 0;
}

.mv-3 {
  margin: 1.2rem 0;
}

.mv-4 {
  margin: 2.4rem 0;
}

.mv-5 {
  margin: 4.8rem 0;
}

.mh-1 {
  margin: 0 0.3rem;
}

.mh-2 {
  margin: 0 0.6rem;
}

.mh-3 {
  margin: 0 1.2rem;
}

.mr-1 {
  margin: 0.3rem;
}

.mr-2 {
  margin: 0.6rem;
}

.mr-3 {
  margin: 1.2rem;
}

.mr-4 {
  margin: 2.4rem;
}

.mr-5 {
  margin: 4.8rem;
}

.fs-1 {
  font-size: 0.8rem;
}

.fs-2 {
  font-size: 1rem;
}

.fs-3 {
  font-size: 1.2rem;
}

.fs-4 {
  font-size: 1.8rem;
}

.fs-5 {
  font-size: 2rem;
}

.fl-right {
  float: right;
}

.fl-left {
  float: left;
}

.two-flexed-right-shrink {
  display: flex;
}

.two-flexed-right-shrink div {
  flex: 1 1 auto;
}

.two-flexed-right-shrink div:last-child {
  flex: 0 0 auto;
}

.three-flexed-center-grow {
  display: flex;
}

.three-flexed-center-grow div:not(:first-child),
.three-flexed-center-grow div:not(:last-child) {
  flex: 1 1 auto;
}

.three-flexed-center-grow div:first-child,
.three-flexed-center-grow div:last-child {
  flex: 0 0 auto;
}

.flexed {
  display: flex;
}

.flexed div {
  padding: 3px 10px;
}

.flexed button:not(:first-child) {
  margin: 0 6px;
}

.hr {
  height: 1px;
  background-color: #8b8b8a;
}

.br-1 {
  border-radius: 2px;
}

.br-2 {
  border-radius: 4px;
}

.br-3 {
  border-radius: 6px;
}

.br-4 {
  border-radius: 8px;
}

.br-5 {
  border-radius: 10px;
}

.thin-border-box {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: none;
}

.thin-border2-box {
  border: 2px solid #ddd;
}

.wizard .steps ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.wizard .steps ul li {
  flex: 1 1 0;
  padding: 6px 7px;
  border: 1px solid #dddfe1;
}

.wizard .steps ul li a {
  text-decoration: none;
  color: #827e90;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.wizard .steps ul li a > .heading-icon {
  padding: 4px 8px 4px 4px;
}

.wizard .steps ul li a > .cuurent-info,
.wizard .steps ul li a .number {
  display: none;
}

.wizard .steps ul li.current a {
  color: #cf8873;
}

#register-form .form-header > .heading-icon {
  display: none;
}

#register-form .form-header.title {
  display: none;
}

#register-form .form-header.title.current {
  display: block;
}

#register-form .actions {
  padding: 1.5rem 0;
}

#register-form .actions ul {
  list-style-type: none;
  display: flex;
  padding: 0 3px;
}

#register-form .actions ul li {
  flex: 1 1 0;
}

#register-form .actions ul li a {
  display: inline;
  padding: 7px 12px;
  background-color: #cf8873;
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

#register-form .actions ul li:not(:first-child) {
  text-align: right;
}

#register-form .actions ul li.disabled a {
  background-color: #c5c5c5;
}

.form-control.error {
  border: 1px solid #bd301e;
  color: #8a1f11;
}

.form-control.error + .error {
  color: #8a1f11;
  font-size: 14px;
  font-weight: 500;
}

.radio-field + .error {
  color: #8a1f11;
  font-size: 14px;
  font-weight: 500;
}

